/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */

.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    right: 10px;
    display: block;
}

#mobile-nav {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(255, 255, 255, .9);
    transition: all .3s linear;
}

#mobile-nav-close-btn {
    display: none;
    line-height: 1;
    position: absolute;
    top: 0px;
    right: 10px;
    color: #212226;
    font-size: 50px;
    cursor: pointer;
}

#mobile-nav-close-btn:hover {
    color: #5c9320;
}

.mobile-nav-content {
    display: none;
    text-align: center;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

.mobile-nav-content li {
    margin-bottom: 10px;
}

.mobile-nav-content a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s linear;
    display: none;
}

.mobile-nav-content li a:hover,
.mobile-nav-content li a:focus {
    color: #5c9320;
    background: none;
}

.green-nav-top #mobile-nav ul.mobile-nav-content li.active > a {
    color: #5c9320;
    font-weight: 500;
}

.home-heading {
    font-size: 2.5rem;
}

@media(max-width: 550px) {
    .home-heading {
        font-size: 2.1rem;
    }
}
